@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.ll-white {
  color: white !important;
}

.ll-color {
  color: #ef0712 !important;
}

.ll-bgcolor {
  background-color: #ef0712 !important;
}

.ll-acolor {
  background-color: #ef0712 !important;
  color: white !important;
}

.ll-head {
  display: block !important;
  background-color: #ef0712;
  padding: 10px;
  color: white;
}

.ll-head-2 {
  display: block !important;
  background-color: #ef0712;
  padding: 5px 5px;
  color: white;
}

.sub-accordion {
  margin: 20px;
}

.input-group {
  padding-left: 0px !important;
}

.label-2 {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.select2-container--default.select2-container {
  width: 100% !important;
}

.left-border {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #ef0712;
  margin-left: 10px;
}

.left-border-thin {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(166, 0, 153, 0.5);
  margin-left: 10px;
}

.bottom-border {
  border-bottom: 1px solid rgba(166, 0, 153, 0.5);
}

