#tbl-certificates_previous{
    padding: 5px;
    border: 1px solid #999;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

#tbl-certificates_next{
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #999;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.paginate_button {
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

.ellipsis {
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

#tbl-leases_previous{
    padding: 5px;
    border: 1px solid #999;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
#tbl-leases_next{
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #999;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.panel-title>a, .panel-title>a:active{
    display:block;
}

.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.4s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
