
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.ll-white {
    color: white !important;
}

.ll-color {
    color: $ll-bg !important;
}

.ll-bgcolor {
    background-color: $ll-bg !important;
}

.ll-acolor {
    background-color: $ll-bg !important;
    color: white !important;
}

.ll-head {
    display: block !important;
    background-color: $ll-bg;
    padding: 10px;
    color: white;
}

.ll-head-2 {
    display: block !important;
    background-color: $ll-bg;
    padding: 5px 5px;
    color: white;
}

.sub-accordion {
    margin: 20px;
}

.input-group {
    padding-left: 0px !important;
}

.label-2 {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.select2-container--default.select2-container {
    width: 100% !important;
}

.left-border {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $ll-bg;
    margin-left: 10px;
}

.left-border-thin {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba($color: $ll-bg, $alpha: 0.5);
    margin-left: 10px;
}

.bottom-border {
    border-bottom: 1px solid rgba($color: $ll-bg, $alpha: 0.5);
}
