
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.ll-head {
    display: block !important;
    background-color: $ll-bg;
    padding: 10px;
    color: white;
}

.ll-sub-head {
    display: block !important;
    background-color: $ll-bg;
    padding: 10px;
    margin: 0px 10px !important;
    color: white;
}

#collapse-price {
    margin: 0px 10px !important;
}

.input-group {
    padding-left: 0px !important;
}
